 <div class="flex flex-col items-center">
<h2 class="font-normal text-4xl text-primary">Portfolio & Work</h2>
<p class="font-normal text-xl text-primary-dark">A selection of projects showcasing my experience in UI/UX design and frontend development across various industries and platforms.</p>
</div>
<div class="flex gap-4 flex-wrap justify-center">
    <div class="w-1/4">
        <app-project></app-project>
    </div>
    <div class="w-1/4">
        <app-project></app-project>
    </div>
    <div class="w-1/4">
        <app-project></app-project>
    </div>
    <div class="w-1/4">
        <app-project></app-project>
    </div>
    <div class="w-1/4">
        <app-project></app-project>
    </div>
    <div class="w-1/4">
        <app-project></app-project>
    </div>
    <div class="w-1/4">
        <app-project></app-project>
    </div>
    <div class="w-1/4">
        <app-project></app-project>
    </div>
    <div class="w-1/4">
        <app-project></app-project>
    </div>
</div>