<div class="space-y-4">
  <h4 class="font-semibold text-lg md:text-xl text-primary">Experiences & Journey</h4>
  <div class="flex flex-col gap-6">
    @for (job of Experiences; track $index) {
      <div class="experiencecard animate__animated animate__backInRight flex flex-col md:flex-row items-center md:items-start gap-4 md:gap-6 bg-white shadow-sm rounded-lg p-4 md:p-6">
        <!-- Year -->
        <div class="bg-primary text-white text-sm font-medium p-3 md:p-4 rounded-lg flex flex-col items-center justify-center w-20 md:w-28 h-20 md:h-28">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 36 36">
            <path fill="#fff" d="M32.25 6h-4v3a2.2 2.2 0 1 1-4.4 0V6H12.2v3a2.2 2.2 0 0 1-4.4 0V6h-4A1.78 1.78 0 0 0 2 7.81v22.38A1.78 1.78 0 0 0 3.75 32h28.5A1.78 1.78 0 0 0 34 30.19V7.81A1.78 1.78 0 0 0 32.25 6M10 26H8v-2h2Zm0-5H8v-2h2Zm0-5H8v-2h2Zm6 10h-2v-2h2Zm0-5h-2v-2h2Zm0-5h-2v-2h2Zm6 10h-2v-2h2Zm0-5h-2v-2h2Zm0-5h-2v-2h2Zm6 10h-2v-2h2Zm0-5h-2v-2h2Zm0-5h-2v-2h2Z"/>
          </svg>
          {{job.year}}
        </div>

        <!-- Info -->
        <div class="flex flex-col gap-1 text-center md:text-left">
          <span class="font-medium text-base md:text-lg text-primary">{{job.title}}</span>
          <span class="font-normal text-sm md:text-base text-primary">{{job.companyName}}</span>
          <p class="font-normal text-xs md:text-sm text-primary-dark leading-relaxed">{{job.description}}</p>
        </div>

        <!-- Logo -->
        <div class="w-16 md:w-20">
          <img [src]="job.logo" [alt]="job.title" class="w-full h-auto object-contain" />
        </div>
      </div>
    }
  </div>
</div>