<div class="flex flex-col gap-3 border border-secondary rounded-xl overflow-hidden shadow-sm hover:shadow-md transition duration-300 h-auto md:h-[550px] bg-white">
  <!-- Image -->
  <a class="overflow-hidden h-48 md:h-60" [href]="project.links"
       target="_blank">
    <img [src]="project.images"
         class="w-full h-full object-cover hover:scale-[1.2] transition duration-500 cursor-pointer"
         alt="">
  </a>

  <!-- Content -->
  <div class="flex flex-col gap-3 px-4 py-5 flex-grow">
    <!-- Title + Type -->
    <div class="flex flex-wrap gap-2 items-center">
      <span class="text-primary font-semibold text-lg md:text-xl">{{project.title}}</span>
      <span class="skill-default text-xs md:text-sm"
            [ngClass]="{
              'bg-green-200': project.type === 'UX/UI & Development',
              'bg-blue-200': project.type === 'UX/UI Design'
            }">
        {{project.type}}
      </span>
    </div>

    <!-- Description -->
    <p class="text-primary-dark text-sm md:text-base leading-relaxed">
      {{project.description}}
    </p>

    <!-- Used Tech -->
    <div class="flex flex-wrap gap-2 mt-2">
      @for (tech of project.usedTech; track $index) {
        <span class="skill-default text-xs md:text-sm">{{tech}}</span>
      }
    </div>

    <!-- Button -->
    <a class="btn-primary flex justify-center mt-auto text-sm md:text-base"
       [href]="project.links"
       target="_blank"
       rel="noopener noreferrer">
      View Project
    </a>
  </div>
</div>
